{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb-area d-flex align-items-center" style="background-image:url(../../static/img/test-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="breadcrumb-wrap text-center">
                    <div class="breadcrumb-title mb-30">
                        <h2>Nuestro Servicio</h2>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Servicio</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area -->
<section id="services" class="services-area services-bg services-two pt-120 pb-90">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-30">
                <div class="s-single-services wow fadeInUp  animated" data-animation="fadeInDown animated"
                    data-delay=".2s" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-ico2">
                        <i class="fad fa-megaphone"></i>
                    </div>
                    <div class="second-services-content2">
                        <h5>Dedicated Production & Planning Teams </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc ididunt
                            ut labore. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="s-single-services wow fadeInUp  animated" data-animation="fadeInDown animated"
                    data-delay=".2s" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-ico2">
                        <i class="far fa-building"></i>
                    </div>
                    <div class="second-services-content2">
                        <h5>We’re Here To Make You Successful</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc ididunt
                            ut labore. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="s-single-services wow fadeInUp  animated" data-animation="fadeInDown animated"
                    data-delay=".2s" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-ico2">
                        <i class="fad fa-home"></i>
                    </div>
                    <div class="second-services-content2">
                        <h5>Premium, Fresh Cuisine Made Onsite</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc ididunt
                            ut labore. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="s-single-services wow fadeInUp  animated" data-animation="fadeInDown animated"
                    data-delay=".2s" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-ico2">
                        <i class="fas fa-search-location"></i>
                    </div>
                    <div class="second-services-content2">
                        <h5>Flexible, Contemporary & Included Spaces </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc ididunt
                            ut labore. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="s-single-services wow fadeInUp  animated" data-animation="fadeInDown animated"
                    data-delay=".2s" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-ico2">
                        <i class="far fa-car-garage"></i>
                    </div>
                    <div class="second-services-content2">
                        <h5>Human-Centered Design Friendly Spaces</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc ididunt
                            ut labore. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="s-single-services wow fadeInUp  animated" data-animation="fadeInDown animated"
                    data-delay=".2s" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-ico2">
                        <i class="fas fa-comments-alt"></i>
                    </div>
                    <div class="second-services-content2">
                        <h5>Broker Cutting-Edge And Technology</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc ididunt
                            ut labore. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- services-area-end -->
{% endblock %}